# Firebase secrets
assets/firebase.js
firebase.js
.env

# Node modules (future safe)
node_modules/

# Logs
*.log

# Build folders
dist/
build/

# OS junk
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Firebase local
.firebase/
firebase-debug.log
